<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - Gym Junkie Cuisine</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
    </head>

    <body>

        <!-- Navigation -->
        <header>
            <div class="navbar-spacing"></div>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
                <div class="container">
                    <button class="custom-toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" 
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Menu">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-page="/Contact">Contact</a>
                            </li>
                        </ul>

                        <ul class="navbar-nav ms-auto">
                            <!-- Code adapted from Microsoft, 2023 -->
                            @if (SignInManager.IsSignedIn(User))
                            {
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item px-4">
                                    <a class="nav-link text-danger" asp-area="" asp-page="Admin/Index">Admin</a>
                                </li>
                            }
                            }
                            
                            @if (SignInManager.IsSignedIn(User))
                            {
                            <li class="align-self-center">
                                <a class="" asp-area="" asp-page="/Checkout">
                                    <img src="@Url.Content("~/img/basket.png")" class="basket-icon" alt="basket logo for the checkout">
                                </a>
                            </li>
                            }
                             
                            <li class="nav-item">
                                <partial class="nav-link" name="_LoginPartial" />
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </header>
        <!-- Navigation -->

        <!-- Main body-->
        <main class="pb-3">
            @RenderBody()
        </main>
        <!-- Main body -->

        <!-- Button that takes the user to the top of the page using JavaScript -->
        <div class="floating-button">
            <button id="to_top_button" class="btn btn-grey" onclick="toTop()">Back to Top</button>
        </div>

        <!-- Footer -->
        <footer class="bg-dark text-center text-white round-corner-top">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <a class="btn btn-outline-light btn-floating m-1" href="https://en-gb.facebook.com/" role="button" target="_blank"></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/?lang=en-GB/" role="button" target="_blank"></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.co.uk/" role="button" target="_blank"></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button" target="_blank"></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://uk.linkedin.com/" role="button" target="_blank"></a>
                    <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/iAdam368?tab=repositories/" role="button" target="_blank"></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <!-- Grid container -->

            <!-- Copyright + CSS & HTML Validation -->
            <div class="text-center p-3 grey-background">
                <p>
                    <a class="text-white" asp-area="" asp-page="/Privacy"> &copy; 2023 Copyright: Gym Junkie Cuisine</a>
                </p>
                @if (User.IsInRole("Admin"))
                {
                <p>
                    <a asp-page="/Admin/Index">• Admin Access</a>
                </p>
                }
                <p>
                    <a href="https://validator.w3.org/#validate_by_uri/">• Validate HTML</a>
                </p>
                <p>
                    <a href="https://jigsaw.w3.org/css-validator/check/referer">
                        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
                    </a>
                </p>

            </div> 
            <!-- Copyright -->

        </footer>
        <!-- Footer -->
        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)

    </body>

</html>
