@page

<!DOCTYPE html>
<html lang="en">

<head>
    @model Web_App.Pages.Menu.AdminModel
    @{
        ViewData["Title"] = "Admin Features";
    }
</head>

<body>
    <!-- Page title -->
    <h1>@ViewData["Title"]</h1>
    <p>See the admin features below:</p>

    <!-- Displaying available admin options -->
    <h4>Menu Options</h4>
    <ul>
        <li> <a asp-page="/MenuModify/Index">View, Edit & Delete Dishes</a> </li>
        <li> <a asp-page="/MenuModify/Create">Add a New Dish</a> </li>
    </ul>
</body>

</html>