@page

<!DOCTYPE html>
<html lang="en">

<head>
    @model Web_App.Pages.CheckoutSuccessModel
    @{
        ViewData["Title"] = "Checkout";
    }
</head>

<body>
    <!-- Page title -->
    <h2>Thank you for your purchase</h2>

    <!-- Page message -->
    <p class="success-text">Your purchase has been confirmed. Enjoy your meal!</p>
</body>

</html>
