@page

<!DOCTYPE html>
<html lang="en">

<head>
    @model Web_App.Pages.ContactModel
    @{
        ViewData["Title"] = "Contact Us";
    }
</head>

<body>
    <!-- Title of the contact page -->
    <h1>@ViewData["Title"]</h1>
    <p>Contact information here...</p>

    <!-- Form for contacting the website owner via email -->

</body>

</html>