@page

<!DOCTYPE html>
<html lang="en">

<head>
    @model Web_App.Pages.ContactModel
    @{
        ViewData["Title"] = "Contact Us";
    }
</head>

<body>
    <!-- Title of the contact page -->
    <h1>@ViewData["Title"]</h1>

    <!-- Page's prompt -->
    <!-- clickable email address code adapted from Buildable, 2024 -->
    <p>Contact us using the form below or email to <a href="mailto:admin@chester.ac.uk">admin@chester.ac.uk</a></p>

    <!-- Form for contacting the website owner via email -->
    <div class="row">
        <form method="post" class="stretch-content">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Dodgy Archie" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@chester.ac.uk" name="emailaddress" required>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="5" name="message" required></textarea>
            </div>
            <div class="form-group">
                <!-- The submit button redirects the user to an appropriate page -->
                <input type="submit" class="btn btn-primary" value="Send email" />
            </div>
        </form>

        <!-- Embedded maps of the business' location -->
        <iframe class="mt-5 mb-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11371.178552558982!2d-2.8990328886766523!3d53.191023521615016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487add4902196da9%3A0xb48f3eff59de47ce!2s28b%20Upper%20Northgate%20St%2C%20Chester%20CH1%202HA!5e0!3m2!1sen!2suk!4v1710932063634!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>




</body>

</html>
