@page

<!DOCTYPE html>
<html lang="en">
    
<head>
    @model Web_App.Pages.Index1Model
    @{
        ViewData["Title"] = "Message Sent";
    }
</head>

<body>
    <!-- Title of the page -->
    <h1>@ViewData["Title"]</h1>

    <!-- Success message -->
    <p class="success-text">Your email has been sent. Thank you for contacting us, we will get back to you as soon as possible.</p>
</body>

</html>
