@page

<!DOCTYPE html>
<html lang="en">

<head>
    @model Web_App.Pages.ContactModel
    @{
        ViewData["Title"] = "Contact Us";
    }
</head>

<body>

    <h1>@ViewData["Title"]</h1>
    <p>Contact information here...</p>

</body>

</html>