@page

<!DOCTYPE html>
<html lang="en">

<head>
    @model Web_App.Pages.Index1Model
    @{
        ViewData["Title"] = "Message Failed";
    }
</head>

<body>
    <!-- Title of the page -->
    <h1>@ViewData["Title"]</h1>

    <!-- Fail message -->
    <p class="fail-text">Unfortunately, there has been an error. The email failed to send.</p>
</body>

</html>
