@page

<!DOCTYPE html>
<html lang="en">

<head>
    @model IndexModel
    @{
        ViewData["Title"] = "Welcome";
    }
</head>

<body>
    <!-- Background image and restaurant logo -->
    <img class="select1 bg-img" src="@Url.Content("~/img/restaurant.jpg")" alt="Background image" />
    <div class="text-center overlay">
        <img src="@Url.Content("~/img/logo.png")" alt="Gym Junkie Cuisine logo" class="image-formatting">
    </div>

    <!-- Restaurant slogan -->
    <h1 class="display-2">Eat BIG To Get BIG</h1>

    <!-- The 'About Us' iformation of the website -->
    <article>        
        <h2>Our Story</h2>
        <p>
            Welcome to Gym Junkie Cuisine &trade;, where we believe that healthy living starts with what you eat.
            Located in the heart of Chester, we are a restaurant dedicated to promoting balanced, 
            nutritious meals that fuel your body and support your fitness goals.
        </p>
        <p>
            We understand the importance of maintaining a healthy diet while still enjoying delicious food. 
            That's why our menu is carefully crafted to offer a variety of options that cater to 
            different dietary preferences and requirements. 
            Whether you're a fitness enthusiast, a health-conscious individual, 
            or simply someone who enjoys nutritious meals, we have something for everyone.
        </p> 
        <p>
            At Gym Junkie Cuisine &trade;, we're more than just a restaurant –
            we're a destination for those who are committed to living a healthy lifestyle. 
            Whether you're looking for a post-workout meal, a nutritious lunch option, 
            or a wholesome dinner with friends and family, we invite you to join us 
            and experience the goodness together.
        </p>
    </article>

    <img src="@Url.Content("~/img/Crispy-Chilli-Chicken.jpeg")" alt="Crispy chilli chicken on a plate" class="image-formatting">
</body>

</html>
