@page

<!DOCTYPE html>
<html lang="en">

<head>
    @model Web_App.Pages.MenuModel
    @{
        ViewData["Title"] = "Menu";
    }
</head>

<body>

    <div class="content-spacing">
        <h1>@ViewData["Title"]</h1>
        <p>See the whole menu information here...</p>
    </div>

</body>

</html>