@page

<!DOCTYPE html>
<html lang="en">

<head>
    @model PrivacyModel
    @{
        ViewData["Title"] = "Privacy Policy";
    }
</head>

<body>

    <div class="content-spacing">
        <h1>@ViewData["Title"]</h1>
        <p>Use this page to detail your site's privacy policy.</p>
    </div>

</body>

</html>