/* HTML page formatting */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    margin-left: 0px;
    padding-left: 0px;
}

/* Main content formatting */
body {
    margin: 0;
    padding-left: 0px;
}

/* Setting image size */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Image sizing formatting */
.image-formatting {
    width: 100%;
    height: 100%;
}

/* Formatting the menu images display */
.menu-image-formatting {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Creates enough spacing so that the footer can be seen at the bottom of the page */
/* Code adapted from StackOverflow user Larrieux, 2016 */
.content-spacing {
    min-height: calc(100vh - 40px);
}

/* Navigation bar concepts gathered from W3Schools, 2023 */
/* Class to format for the navigation bar rectangle */
.navbar {
    background-color: red;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
    border-radius: 0px 0px 7px 7px;
}

/* Individual item/block of the navigation bar */
.nav-link {
    border-radius: 7px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Makes the drop down menu icon lighter, increasing contrast so that it is easier to see */
.custom-toggler.navbar-toggler {
    border-color: white;
}

/* Alters the color of the navigation bar item when it is hovered over, code adapted from W3Schools */
.navbar a:hover:not(.active) {
    background-color: #FFAE00;
    text-shadow: 1px 0px 3px black;
    border-radius: 7px;
    color: black !important; /* Code adapted from StackOverflow user Rvervuurt */
}

/* Offsets the spacing "under" the navigation bar, as it has a different z-index */
.navbar-spacing {
    margin-top: 60px;
}

/* Remove text formatting/decoration */
.no-formatting {
    text-decoration: none !important;
}

/* Capitalises every first letter of a word in a sentence */
.capitalise-words {
    text-transform: capitalize;
}

/* Formatting for the footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -200px;
}

/* Rounds the top-left and top-right corners of a container */
.round-corner-top {
    border-radius: 7px 7px 0px 0px;
}

/* Social media icon formatting for the footer */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
}

/* Set background to grey (for the footer) */
.grey-background {
    background-color: #1A1E21;
}

/* Flex container styling for individual menu items */
.flex-container {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
    .flex-container > div {
        background-color: #212529;
        border-radius: 7px;
        width: 300px;
        margin: 10px;
        padding: 5px;
        text-align: center;
        /* font-size: 18px; EDIT THIS *** */
        -webkit-transition-duration: 0.5s; /* For Safari browsers */
        transition-duration: 0.5s;
    }
        .flex-container > div:hover {
            background-color: #FFAE00;
            color: black;
        }

.floating-button {
    bottom: 20px;
    right: 20px;
    position: fixed;
}

.menu-title {
    font-size: 18px;
    font-weight: bold;
}

/* Adding spacing for the menu table */
#menu_table {
    border-collapse: separate;
    border-spacing: 15px;
}

/* Setting text to white for authentication links in the navbar */
#register, #login, #manage, #logout {
    color: white !important;
}

/* Enabling change of colour on authentication buttons in the navbar */
#register:is(:hover), #login:is(:hover), #logout:is(:hover), #manage:is(:hover) {
    text-shadow: 1px 0px 3px black !important;
    background-color: #FFAE00 !important;
    color: black !important;
}

/* Setting logout button text to red */
#logout {
    color: #DC3545 !important;
}

